*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
    font-family: 'League Spartan', sans-serif;
    font-family: 'Roboto', sans-serif;      
}

body{
}
/*---------------------------*/

header{
    background-color: #3347B0;
    height: 10vh;
    overflow: hidden;
}
.menu-conteiner{
    display: flex;
    padding: 4px 0px 0px 200px;
    color: white;
}
  
.titulo{
    padding: 14px 0px 0px 4px;
    width: 49px;
    font-weight: 600;
    font-size: large;
}

.login{
    display: flex;
    padding: 14px 96px 0px 74%;
    gap: 10px;
}
.vector{
    padding: 5px 0px 0px 4px;
}
.Sair{
    padding: 14px 0px 0px 0px;
    font-weight: 600;
}


/*---------------------------*/


main{
    height: 80vh;
    width: 100%;
    display: flex;
}
.conteudo-conteiner{
    width: 100%;
    margin: 70px;
    padding-left: 130px;
    display: flex;
}
.parte1{
    width: 33.5%;

}
h1{
height: 47%;
font-size: 60px;
font-weight: 500;

}
span{
    color: #3347B0;
    font-weight: bold;
}



.parte2{
    width: 30%;
    padding: 20px 20px 60px 70px;
    

}
.cursos{
    width: 33.5%;
    display: flex;
    flex-wrap: wrap;
    gap: 100px 5px;

}
.curso1{
    background-color: #3347B0;
    width: 400px;
    height: 200px;
    box-shadow: 10px 10px 5px #A4ACDC;
    display: flex;
}
.curso2{
    background-color: #3347B0;
    width: 400px;
    height: 200px;
    box-shadow: 10px 10px 5px #A4ACDC;
    
}

.caixa-cursos{
    padding: 30px 40px 40px 50px;
    display: flex;
    font-size: 50px;
    gap: 50px;
}
.textos{
    padding: 40px 0px 0px 0px;
    color: white;
    font-weight: bolder;
}
.icones{
    width: 100px;
    height: 132px;
}

/*---------------------------*/


footer{
    background-color: #3347B0;
    height: 10vh;
    
}
.fim{
    padding: 30px 00px 0px 0px;
    text-align: center;
    color: white;
   
}

/*---------------------------*/



.Sair:hover{
    cursor: pointer;
    text-decoration: underline;
}

.curso1:hover{
    cursor: pointer;
    transform: scale(1.1);
}
.curso2:hover{
    cursor: pointer;
    transform: scale(1.1);
}