*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
    font-family: 'League Spartan', sans-serif;
    font-family: 'Roboto', sans-serif;
}

header{
    height: 15%;
    padding: 12px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3347B0;
}
header .conteiner{
    display: flex;
    justify-content: space-between;
    width: 80%;
    height: 90%;
    color: #fff;
}
header .conteiner .part1 , .part2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}
header .conteiner .part1 .img-logo{
    background-image: url(./img/logo-image\ 1.svg);
    background-size: cover;
    width: 44px;
    height: 54px;
}
header .conteiner .part2 .img-sair{
    background-image: url(./img/Vector\ 1.svg);
    background-size: cover;
    width: 38px;
    height: 34px;
    cursor: pointer;
}
header .conteiner .text-name-school , .text-sair{
    width: 52px;
    font-weight: 500;
}
main{
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
main .conteiner{
    width: 80%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
main .conteiner .part1{
    height: 80%;
    width: 36%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
main .conteiner .part1 .text-titlle h1{
    font-size: 48px;
    font-weight: 400;
}
main .conteiner .part1 .text-titlle span{
    color: #3347B0;
    font-weight: bold;
}
main .conteiner .part1 .img-titlle{
    background-image: url(./img/devices\ 1.svg);
    background-size: cover;
    width: 370px;
    height: 222px;
}
main .conteiner .part2{
    height: 70%;
    width: 30%;
}
main .conteiner .part2 .img-central{
    background-image: url(./img/Clip\ path\ group.svg);
    background-size: cover;
    width: 208px;
    height: 345px;
    aspect-ratio: 2/5;
    object-fit: contain;
}
main .conteiner .part3{
    height: 80%;
    width: 36%;
    display: flex;
    align-items: end;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 28px;
}
main .conteiner .part3 .item{
    background-color: #3347B0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 53px;
    padding: 36px 48px;
    box-shadow: 10px 10px 5px #A4ACDC;
    cursor: pointer;
    transition: .2s;
}
.item:hover{
    transform: scale(1.1);
}
main .conteiner .part3 .item .text-curso{
    font-weight: 600;
    color: #fff;
    padding: 16px;
    font-size: 42px;
}
main .conteiner .part3 .item .img{
    background-size: cover;
    height: 70px;
    width: 88px;
}
main .conteiner .part3 .item .img.curso1{
    background-image: url(./img/icon-dev\ 1.svg);
}
main .conteiner .part3 .item .img.curso2{
    background-image: url(./img/icon-net\ 1.svg);
}
footer{
    background-color: #3347B0;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(255, 255, 255, 0.6);
    font-weight: bold;
}